* {
  box-sizing: border-box;
}

body {
  border-color: #dddddd;
  background: #ffffff;
  background-image: url('../images/leaves-pattern.png');
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
}

p,
a,
footer,
form {
  color: #777777;
}

a {
  text-decoration: none;
}

header {
  background: #ffffff;
  margin-bottom: 20px;
}

.headercontent {
  width: 972px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
}

h1 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 20px;
}

.headername,
.submit {
  background: #4aaaa5;
  color: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  float: left;
  margin-bottom: 0;
}

nav {
  margin-top: 20px;
  float: right;
}

header::after {
  content: '';
  display: block;
  clear: both;
}

.container {
  width: 960px;
  clear: both;
  overflow: auto;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.bioheader,
.contactheader,
.portfolioheader {
  color: #4aaaa5;
  padding: 5px 20px 20px 0;
}

hr {
  margin-top: 0;
  margin-bottom: 25px;
  color: #777777;
}

img {
  float: left;
  margin-right: 20px;
  height: 300px;
}

.portfolio1,
.portfolio2,
.portfolio3,
.portfolio4,
.portfolio5,
.portfolio6,
.portfolio7,
.portfolio8,
.portfolio9,
.portfolio10 {
  margin-bottom: 40px;
}

.sendername,
.senderemail,
textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  color: #777777;
}

.submit {
  width: 100px;
  padding: 7px;
}

textarea {
  height: 150px;
}

p {
  margin-bottom: 18px;
}

.portfoliocontainer1::after {
  content: '';
  display: block;
  clear: both;
}

.portfoliocontainer1,
.portfoliocontainer2,
.portfoliocontainer3,
.portfoliocontainer4,
.portfoliocontainer5,
.portfoliocontainer6,
.portfoliocontainer7,
.portfoliocontainer8,
.portfoliocontainer9,
.portfoliocontainer10 {
  position: relative;
  text-align: center;
  color: white;
  width: 400px;
  float: left;
  margin: 20px;
}

.portfolio1,
.portfolio2,
.portfolio3,
.portfolio4,
.portfolio5,
.portfolio6,
.portfolio7,
.portfolio8,
.portfolio9,
.portfolio10 {
  width: 100%;
}

.pname1,
.pname2,
.pname3,
.pname4,
.pname5,
.pname6,
.pname7,
.pname8,
.pname9,
.pname10 {
  position: absolute;
  bottom: 20%;
  left: 0;
  background-color: #4aaaa5;
  color: white;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  width: 100%;
  padding: 15px;
}

footer {
  padding-top: 40px;
  margin-top: 80px;
  text-align: center;
  background: #666666;
  margin-bottom: 0;
  border-top: 5px solid #4aaaa5;
}

@media screen and (max-width: 980px) {
  .headercontent {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .portfoliocontainer1,
  .portfoliocontainer2,
  .portfoliocontainer3,
  .portfoliocontainer4,
  .portfoliocontainer5,
  .portfoliocontainer6,
  .portfoliocontainer7,
  .portfoliocontainer8,
  .portfoliocontainer9,
  .portfoliocontainer10 {
    width: 43%;
  }
}

@media screen and (max-width: 768px) {
  .headercontent {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .portfoliocontainer1,
  .portfoliocontainer2,
  .portfoliocontainer3,
  .portfoliocontainer4,
  .portfoliocontainer5,
  .portfoliocontainer6,
  .portfoliocontainer7,
  .portfoliocontainer8,
  .portfoliocontainer9,
  .portfoliocontainer10 {
    width: 85%;
  }
}

@media screen and (max-width: 640px) {
  .headercontent {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .portfoliocontainer1,
  .portfoliocontainer2,
  .portfoliocontainer3,
  .portfoliocontainer4,
  .portfoliocontainer5,
  .portfoliocontainer6,
  .portfoliocontainer7,
  .portfoliocontainer8,
  .portfoliocontainer9,
  .portfoliocontainer10 {
    width: 85%;
  }
}
